.container {
    padding: 0.5em;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    gap: 1em;
    background-color: hsl(0 0% 90%);
}

.container::before {
    content: counter(list-item);
    counter-increment: list-item;
    font-size: 2em;
}

.buttonContainer {
    display: flex;
    gap: 1em;
    margin: 1em auto;
}


