:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: hsl(0, 0%, 0%);
    background-color: hsl(208, 100%, 97%);
  }
}

/* dark theme preference */
@media (prefers-color-scheme: dark) {
  :root {
    color: hsl(0, 0%, 100%);
    background-color: black;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}